<!-- load leaflet dependencies -->
<script src="{{ "/assets/leaflet/leaflet.js" | relative_url }}"></script>
<script src="{{ "/assets/leaflet/fuse.min.js" | relative_url }}"></script>
<script src="{{ "/assets/leaflet/leaflet.fusesearch.js" | relative_url }}"></script>

<!-- int map and search -->
<script>
    /* init and set zoom */
    var map = L.map('map').setView([{{page.mapcenter}}], {{page.zoom}});
    /* load map layer */ 
    /* var Esri_NatGeoWorldMap = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/NatGeo_World_Map/MapServer/tile/{z}/{y}/{x}', {
        attribution: 'Tiles &copy; Esri &mdash; National Geographic, Esri, DeLorme, NAVTEQ, UNEP-WCMC, USGS, NASA, ESA, METI, NRCAN, GEBCO, NOAA, iPC',
        maxZoom: 16
    });
    Esri_NatGeoWorldMap.addTo(map);
     */
    var Esri_WorldStreetMap = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Street_Map/MapServer/tile/{z}/{y}/{x}', {
        attribution: 'Tiles &copy; Esri &mdash; Source: Esri, DeLorme, NAVTEQ, USGS, Intermap, iPC, NRCAN, Esri Japan, METI, Esri China (Hong Kong), Esri (Thailand), TomTom, 2012'
    });
    Esri_WorldStreetMap.addTo(map);

    /* add search, https://github.com/naomap/leaflet-fusesearch */
    var options = {
        title: 'Search documents',
        placeholder: 'Search documents...',
        threshold: 0.35 // 1 = anything, 0 = exact match
    };
    var searchCtrl = L.control.fuseSearch(options);
    searchCtrl.addTo(map);
    

    /* load geojson data */
    $.getJSON("{{ '/data/geodata.json' | relative_url }}", function(geodata){
        /* add to search index */ 
        searchCtrl.indexFeatures(geodata.features, ['title', 'subject', 'date']);
        /* add markers and popup */ 
        L.geoJson(geodata, {
            pointToLayer: function(feature,latlng){
                var marker = L.marker(latlng);
                marker.bindPopup('<h5>' + feature.properties.title + '</h5><p>Date: ' + feature.properties.date + '<br>Subjects: ' + feature.properties.subject + '</p><h5><a href="'+feature.properties.link+'" >View Item</a><h5>');
                return marker;
            }, 
            onEachFeature: function (feature, layer) {
                feature.layer = layer;
            }
        }).addTo(map);
    });

</script>